{# 
When resource data is available, pass it via the resource argument.
If left empty, the macro will return template literal variables for 
use in client-side search results returns.
#}
{% macro preview(resource) %}
<article class="preview-listing">
  <a href="/insights/{{ resource.slug.current | slug if resource else "${result.item.slug}"}}" class="teaser">
    <time class="eyebrow" datetime="{{ resource.pubdate if resource else "${result.item.pubDate}" }}"> {{ resource.insightType | default("Insight", true) if resource else "${result.item.insightType}" }} | {{ resource.pubDate | date("MMMM D, YYYY") if resource else "${result.item.pubDate}" }}</time>
    <h2>{{ resource.title if resource else "${result.item.title}"}}</h2>
    {% if resource %}
      {% articleHero resource.heroImage %}
      {# Skipping image for client rendered results.
         This is well beyond adaptation of the static build. #}
    {% endif %}
    {{ resource.lede | safe if resource else "${result.item.description}" }}
    {{ resource.atGlance | safe }}
  </a>
  {% if resource %}
  <nav class="related">
    <h3>Topics</h3>
    <ul class="unpad-list">
      {%- for label in resource.topicTags -%}
        {# This line must be kept together (do not "prettify"): #}
        <li><a href="/insights/tag/{{ label | slugify }}">{{ label }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>
  {% endif %}
</article>
{% endmacro %}