<nav class="sidebar">
  <h2>Browse by Type</h2>
  <ul>
    {%- for label in taxonomy -%}
      {% if "Insight Type" in label.scheme %}
        <li>
          <a href="/insights/tag/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a>
        </li>
      {% endif %}
    {%- endfor -%}
  </ul>
  <h2>Browse by Topic</h2>
  <ul>
    {%- for label in taxonomy -%}
      {% if "Topic" in label.scheme %}
        <li>
          <a href="/insights/tag/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a>
        </li>
      {% endif %}
    {%- endfor -%}
  </ul>
</nav>