<nav class="sidebar">
  {# Insights Search #}
  {% if page.url == "/insights/" %}
  <section id="insight-search" class="search" aria-label="Insights search">
    <h2>Search Insights</h2>
    <form autoComplete="off">
      <input type="search"
            id="search-box"
            name="search"
            aria-expanded="false"
            aria-controls="search-results"
            aria-describedby="search-description"/>
      {# <label for="search-box">Search for a method by name, goal, or outcome.</label> #}
      {# <span id="search-description" class="visually-hidden">
        As you type, search results will appear below
      </span> #}
    </form>
  </section>
  {% endif %}
  <h2>Browse by Type</h2>
  <ul>
    {%- for label in taxonomy -%}
      {% if "Insight Type" in label.scheme %}
        <li>
          <a href="/insights/tag/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a>
        </li>
      {% endif %}
    {%- endfor -%}
  </ul>
  <h2>Browse by Topic</h2>
  <ul>
    {%- for label in taxonomy -%}
      {% if "Topic" in label.scheme %}
        <li>
          <a href="/insights/tag/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a>
        </li>
      {% endif %}
    {%- endfor -%}
  </ul>
</nav>