<section class="grid">
  <form id="contact-form" class="contact-form" action="https://andyfitzgeraldconsulting.com/mailhandler.php" method="POST" autocomplete="on">
    <label for="name">Name <span>(required)</span>
      <input type="text" class="form-field" id="name" name="name" required/>
    </label>
    <label for="org">Organization
      <input type ="text" class="form-field" id="org" name="org"/>
    </label>
    <label for="email">Email <span>(required)</span>
      <input type="email" class="form-field" id="email" name="email" required/>
    </label>
    <label for="subject">Subject <span>(required)</span>
      <input type="text" class="form-field" id="subject" name="subject" required/>
    </label>
    <label class="text-area" for="message">What would you like to talk about? <span>(required)</span>
      <textarea class="form-field" rows="5" id="message" name="message" autocomplete="off" required></textarea>
    </label>

    <div class="send">
      <div class="g-recaptcha" data-sitekey="6Lcpq_IZAAAAAOK-YOS-lvyERHILtOuNL4gIAuFv"
      data-callback="callback"></div>
      <button id="submit-button" type="submit" disabled>Send</button>
    </div>
    <script type="text/javascript">
      function callback() {
        const submitButton = document.getElementById("submit-button");
        submitButton.removeAttribute("disabled");
      }
    </script>
  </form>
</section>