<aside class="sidebar connect">
  <h2>Other Ways to Connect</h2>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/andyfitzgerald/" target="_blank" rel="noopener">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/andybywire" target="_blank" rel="noopener">GitHub</a>
    </li>
    <li>
      <a href="https://medium.com/@andybywire" target="_blank" rel="noopener">Medium</a>
    </li>
  </ul>
</aside>