<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {%- if resource.title -%}
        {%- if "services" in tags -%}
          {{ resource.title }} Services | {{ metadata.siteTitle }}
        {%- elif "case studies" in tags -%}
          {{ resource.title }} Case Study | {{ metadata.siteTitle }}
        {%- else -%}
          {{ resource.title }} | {{ metadata.siteTitle }}
        {%- endif -%}
      {%- elif pagination.items[0].prefLabel -%}
        {{pagination.items[0].prefLabel}} | {{ metadata.siteTitle }}
      {%- elif singletonCrumb -%}
        {{ singletonCrumb }} | {{ metadata.siteTitle }}
      {%- else -%}
        {{ metadata.siteTitle }}
      {%- endif -%}
    </title>
    <meta name="description" content="{{ metadata.description }}">
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    {%- if page.url == "/contact/index.php" %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {%- endif %}
    {%- if env.environment == "development" or "/writing/tag/" in page.url %}
    <meta name="robots" content="noindex">
    {%- endif %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
        {% include '../linked-data/website.json' %}
      ]
    }
    </script>

 {% include './fonts.njk' %}
  </head>