<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/png" href="/icons/icon-48x48.png" />  
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <title>
      {%- if resource.title -%}
        {%- if "services" in tags -%}
          {{ resource.title }} Services | {{ metadata.siteTitle }}
        {%- elif "case studies" in tags -%}
          {{ resource.title }} Case Study | {{ metadata.siteTitle }}
        {%- else -%}
          {{ resource.title }} | {{ metadata.siteTitle }}
        {%- endif -%}
      {%- elif pagination.items[0].prefLabel -%}
        {{pagination.items[0].prefLabel}} | {{ metadata.siteTitle }}
      {%- elif singletonCrumb -%}
        {{ singletonCrumb }} | {{ metadata.siteTitle }}
      {%- else -%}
        {{ metadata.siteTitle }}
      {%- endif -%}
    </title>
    <meta name="description" content="{{ metadata.description }}">
    <link rel="canonical" {% if resource.canonical -%}
                            href="{{ resource.canonical }}"
                          {%- elif "/contact/" in page.url -%}
                            href="https://www.andyfitzgeraldconsulting.com/contact"
                          {%- else -%}
                            href="https://www.andyfitzgeraldconsulting.com{{ page.url }}"
                          {%- endif -%}>

    <meta property="og:title" content="{{ resource.title if resource.title else metadata.siteTitle }}" />
    <meta property="og:description" content="{{ resource.shortDescription if resource.shortDescription else metadata.description }}" />
    <meta property='og:image' content="{{ resource.heroImage | ogImage if resource.heroImage else "https://www.andyfitzgeraldconsulting.com/icons/icon-384x384.png" }}" />
    <meta property='og:image:alt' content="{{ resource.heroImage.altText if resource.heroImage.altText else "Andy Fitzgerald Consulting" }}" />
    <meta property='og:url' {% if resource.canonical -%}
                              content="{{ resource.canonical }}"
                            {%- else -%}
                              content="https://www.andyfitzgeraldconsulting.com{{ page.url }}"
                            {%- endif -%} />

    <meta name="theme-color" content="#4e9dbc">
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    {%- if page.url == "/contact/index.php" %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {%- endif %}
    {%- if env.environment == "development" 
        or "/writing/tag/" in page.url 
        or "/404" in page.url %}
    <meta name="robots" content="noindex">
    {%- endif %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@graph": [
        {% include '../linked-data/organization.json' %},
        {% include '../linked-data/person.json' %},
        {% include '../linked-data/website.json' %}
        {%- if page.inputPath == "./_src/service.njk" -%}
          ,{% include '../linked-data/service.json' %}
        {%- endif -%}
        {%- if page.inputPath == "./_src/study.njk" -%}
          ,{% include '../linked-data/caseStudy.json' %}
        {%- endif -%}
        {%- if page.inputPath == "./_src/article.njk" -%}
          ,{% include '../linked-data/article.json' %}
        {%- endif -%}
      ]
    }
    </script>

 {% include './fonts.njk' %} #}
  </head>