

<ul class="four-up">
  {% for resource in resource.relatedResources %}
    <li>
      <a href="/insights/{{ resource.slug.current }}">
        <div>
          <span class="eyebrow">{{ resource.insightType | default("Insight", true) }}</span>
          <h3>{{ resource.title }}</h3>
          <p>{{ resource.shortDescription }}</p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
