<ul class="four-up subgrid">
  {% for resource in resource.relatedResources %}
    <li>
      <a href="/insights/{{ resource.slug.current }}">
        <div>
          <span class="eyebrow">{{ resource.insightType | default("Insight", true) }}</span>
          <h3>{{ resource.title }}</h3>
          <p>{{ resource.shortDescription }}</p>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>

{# <div class="two-up">
  {% for article in articles.slice(0, 2) %}
    <a href="#">
      <span class="eyebrow">{{ article.categoryTag}}</span>
      <h3>{{ article.title }}</h3>
      <p>{{ article.shortDescription }}</p>
    </a>
  {% endfor %}
</div> #}