// Script Notes
// - [ ] add a "no matches" message if 3 chars are entered and there's no match (test with 'ooo')
// - [ ] sort out search bar at top of page on mobile (+ add browse categories at bottom)

// Import the preview macro — js ignores as a comment, 
// but njk doesn't:
// {% from "partials/articlePreview.njk" import preview as preview %}

document.addEventListener('DOMContentLoaded', function () {
  fetch('/insight-search.json')
    .then(response => response.json())
    .then(items => {
      const options = {
        keys: [
          {
            name: 'title',
            weight: 0.7
          }, {
            name: 'description',
            weight: 0.3
          }
        ],
        threshold: 0.5,
        distance: 80,
        minMatchCharLength: 3
      };

      const fuse = new Fuse(items, options);

      const insightHeroCopy = document.getElementById('insight-hero-copy');
      const searchInput = document.getElementById('search-box');
      const searchResults = document.getElementById('search-result-list');
      const resultsCount = document.getElementById('results-count');
      const resultDetails = document.getElementById('result-details');

      searchInput.addEventListener('input', function () {
        const query = searchInput.value;
        const results = fuse.search(query);

        if (results.length > 0 ) {
          searchInput.setAttribute('aria-expanded','true');
          searchResults.classList.add('show');
          insightHeroCopy.classList.remove('show');
          resultsCount.style.display = 'block';
          resultsCount.innerHTML = `${results.length} results found for \<em>${query}\</em>`;
        } else {
          searchInput.setAttribute('aria-expanded','false');
          insightHeroCopy.classList.add('show');
          searchResults.classList.remove('show');
          resultsCount.style.display = 'none';
          resultsCount.innerHTML = ''
        }

        resultDetails.innerHTML = '';
        results.forEach(result => {
          const searchResult = document.createElement('div');
          searchResult.innerHTML = `{{ preview() }}`
          resultDetails.appendChild(searchResult);
        });
      });
    });
});