<section class="grid">
  <h1>{{ resource.title }}</h1>
  <div class="hero-copy">
    {{ resource.heroCopy | safe }}
  </div>
  {% if resource.heroImg %}
    <div class="img">
      {% singletonHero resource.heroImg %}
    </div>
  {% endif %}
  {% if resource.bodyText %}
    <div class="copy">
      {{ resource.bodyText | safe }}
    </div>
  {% endif %}
  {# {% if '/contact' in page.url %}
    {% include 'partials/contactSidebar.njk' %}  
  {% endif %} #}
  {% if '/contact-success' in page.url %}
    <p class="success">Thank you. Your message was sent.</p>
  {% endif %}
</section>