@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

.related-content{
  @include fragment;
  a {
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
  ul {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax($card-min,$card-max));
    padding: 1rem 0;
    margin-bottom: 2rem;
    @include breakpoint(large) {
      gap: 4rem;
      padding: 2rem;
      margin-bottom: 4rem;
    }
  }
  li {
    list-style: none;
    display: flex;
    background-color: $light-gray;
    border-radius: $radius;
    box-shadow: 1px 1px 2px #e6e6e6;
    &:hover {
      transition: box-shadow .25s ease;
      box-shadow: 0px 0px 1px 2px $blue;
    }
    @include breakpoint(large) {
      max-width: 400px;
    }
  }
  .tag {
    position: absolute;
    margin-top: 1rem;
    padding: 0.33rem 1rem;
    text-transform: capitalize;
    color: #4e9dbc;
    font-weight: 600;
    background-color: rgba(0,0,0,.6);
    border-radius: 0 $radius $radius 0;
  }
  img {
    border-radius: $radius $radius 0 0;
  }
  div {
    padding: 0 1rem .5rem;
  }
  h2 {
    color: $dark-blue;
    font-size: 1.33rem;
    font-weight: 700;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.service-cards {
  @include fragment;
  a {
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
  ul {
    padding: 0 0 2rem;
  }
  li {
    list-style: none;
    padding: 2rem 0;
    @include breakpoint(medium) {
      display: flex;
      gap: 2rem;
    }
  }
  .service-hero {
    @include breakpoint(medium) {
      flex: 0 0 35%;
      padding-top: 1rem;
    }
    @include breakpoint(large) {
      padding-top: .5rem;
    }
  }
  .service-copy {
    @include breakpoint(medium) {
      flex: 1 0 50%;
    }
  }
  h2 {
    color: $blue;
    font-weight: 700;
    margin: 0;
  }
  p {
    margin: 0;
    &.cta {
      display: inline-block;
      color: #4e9dbc;
      font-weight: 800;
      position: relative;
      &:after {
        content: " ";
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 0%;
        border-bottom: 2px solid #4e9dbc;
        transition: .3s;
      }
    }
  }
  a:hover .cta:after {
    width: 100%;
  }
  img {
    border-radius: $radius;
  }
}