<article>
  <a href="/writing/{{ resource.slug.current | slug }}" class="teaser">
    <h1>{{ resource.title }}</h1>
    <time datetime="{{ resource.pubdate }}">{{ resource.pubDate | date("MMMM D, YYYY") }}</time>
    <img src="{% articleHero resource.heroImage %}" alt="{{ resource.heroImage.altText }}">
    {{ resource.lede | markdownify | safe }}
  </a>
  <nav class="related">
    <h2>Topics</h2>
    <ul>
    {%- for label in resource.topic -%}
      <li><a href="/writing/tag/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a></li>
    {%- endfor -%}
    </ul>
  </nav>
</article>