---
layout: layouts/base.njk
tags:
  - case studies
pagination:
  alias: resource
  data: studies
  size: 1
  addAllPagesToCollections: true
banner: “A hands on leader … through all aspects of the design process”
permalink: "case-studies/{{ resource.slug.current | slug }}/index.html"
---
<article class="study" aria-labelledby="article-title">
  <div>
    <section class="overview">
        <div class="img">{% responsiveImage resource.heroImage, ".75" %}</div>
        <h1 id="article-title">{{ resource.title }}</h1>
        <div class="copy">
          <h2>At a Glance</h2>
          {{ resource.atGlance | markdownify | safe }}
          <h2>What I Did </h2>
          {{ resource.whatDid | markdownify | safe }}
        </div>

    </section>
  </div>
  {% if resource.review %}
  <div class="feedback">
    <section>
      <blockquote>
        <p>"{{ resource.review.excerpt }}"</p>
        <cite>
          {{ resource.review.author }}, {{ resource.review.title }}, {{ resource.review.employer }}
        </cite>
      </blockquote>
    </section>
  </div>
  {% endif %}
  <div class="goals"> 
    <section class="study-segment">      
      <p class="section-type">Project Goal</p> 
      {{ resource.projectGoal | markdownify | safe }}
      <figure>
        {% responsiveImage resource.beforeImage %}
        <figcaption>{{ resource.beforeImage.caption }}</figcaption>
      </figure>  
    </section>
  </div>
  <div>
    <section class="study-segment">
      <div>
        <p class="section-type">Project Approach</p> 
        {{ resource.projectApproach | markdownify | safe }}
      </div>
    </section>
    <section class="study-segment running">
      <div>
        <p class="section-type">Project Outcome</p> 
        {{ resource.projectOutcome | markdownify | safe }}
        {% if resource.afterImage %}
        <figure>
          {% responsiveImage resource.afterImage, ".62399" %}
          <figcaption>{{ resource.afterImage.caption}}</figcaption>
        </figure> 
        {% endif %}
      </div>
    </section>
  </div>
  <div>
    <section class="related-content">
      <h2>Services & Insights</h2>
      {% include '../_includes/partials/relatedResources.njk' %}
    </section>
  </div>
</article>