---
layout: layouts/base.njk
singletonCrumb: about
---
{% for resource in singletons %}
{% if resource.title == "About" %}

<div class="singleton about">

  <article class="value-prop">
    <div class="wrap">
      <div class="display">{{ resource.heroCopy | markdownify | safe }}</div>
      <div class="img">{% responsiveImage resource.heroImg, ".75"  %}</div>
    </div>
  </article>

  <article class="body-text">
    <section class="wrap">
      <div>
        {{ resource.bodyText | markdownify | safe }}
      </div>  
    </section>
   
</div>

{% endif %}
{% endfor %}