---
layout: layouts/base.njk
tags:
  - writing
pagination:
  alias: resource
  data: articles
  size: 1
  addAllPagesToCollections: true
banner: “Complex issues … written about patiently, clearly, and accurately.”
permalink: writing/{{ resource.slug.current | slug }}/index.html
crumbTitle: article
---
<div class="article">
  <div class="col">
    <article>
      <h1>{{ resource.title }}</h1>
      <time datetime="{{ resource.pubdate }}">{{ resource.pubDate | date("MMMM D, YYYY") }}</time>
      <img src="{% articleHero resource.heroImage %}" alt="{{ resource.heroImage.altText }}">
      <pre>{{ resource | dump(2) }}</pre>
      {{ resource.body | markdownify | safe }}
      <nav class="related">
        <h2>Topics</h2>
          <ul>
          {%- for label in resource.topic -%}
            <li><a href="/writing/tag/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a></li>
          {%- endfor -%}
          </ul>
      </nav>
    </article>
    <nav class="sidebar">
      {% include '../_includes/partials/articleSidebar.njk' %}
    </nav>
  </div>

  <section class="related-content">
    <h2>Related Resources</h2>
    {% include '../_includes/partials/relatedResources.njk' %}
  </section>

</div>  