---
layout: layouts/base.njk
tags:
  - categories
pagination:
  alias: resource
  data: categories
  size: 1
  addAllPagesToCollections: true
permalink: /{{ resource.title | slug }}/index.html
---
<div class="category">
  <section>
    <h1>{{ resource.title }}</h1>
    {{ resource.copy | markdownify | safe }}
  </section>

  {# Abstract this out into a Macro ... or eliminate altogether #}
  {% if resource.type == "studies" %}
    {% set category = studies %}
  {% elif resource.type == "services" %}
    {% set category = services %}
  {% endif %}


  {% if resource.type == "services" %}
    <section class="service-cards">
      <ul>
        {% for card in services %}
        <a href="/services/{{ card.slug.current }}">
          <li>
            <div class="service-hero">
              {% responsiveImage card.heroImage, "0.5625" %}
            </div>
            <div class="service-copy">
              <h2>{{ card.title }}</h2>
              <p>{{ card.mediumDescription }}</p>
              <p class="cta">Learn More »</p>
            </div>
          </li>
        </a>
        {% endfor %}
      </ul>
    </section>
  {% endif %}



  {% if resource.type == "studies" %}
  <section class="related-content">
    <ul>
    {% set count = 0 %}
    {% for card in category %}
      {% if resource.type == "studies" %}
        {% set path = "case-studies" %}
      {% elif resource.type == "services" %}
        {% set path = "services" %}
      {% endif %}
      {% if count < 4 %}
        <li>
          <a href="/{{ path }}/{{ card.slug.current }}">
            {% responsiveImage card.heroImage, ".75" %}
            <div>
              <h3>{{ card.title }}</h3>
              <p>{{ card.shortDescription }}</p>
            </div>
          </a>
        </li>
      {% set count = count + 1 %}
      {% endif%}
    {% endfor %}
    {% for card in resource.relatedServices %}
      {% if count < 4 %}
        <li>
          <a href="/services/{{ card.slug.current }}">
            {% responsiveImage card.heroImage, ".75" %}
            <div>
              <h3>{{ card.title }}</h3>
              <p>{{ card.shortDescription }}</p>
            </div>
          </a>
        </li>
      {% set count = count + 1 %}
      {% endif%}
    {% endfor %}
    {# Add articles loop, for count up to 4 #}
    {# {% for card in sorted %}
      {% if card-count < 4 and card.category == page.category %}
        {%- include card.html -%}
        {% assign card-count = card-count | plus: 1 %}
      {% endif %}
    {% endfor %} #}
    </ul>
  {# <pre>{{ resource | dump(2) }}</pre> #}
  </section>  
  {% endif %}

</div>

{% if resource.type == "studies" %}
<div class="client-feedback">
    <section>
      <h1>{{ resource.reviewBlockTitle }}</h1>
      {{ resource.reviewBlockCopy | markdownify | safe }}
    </section>
  {% for review in resource.review %}
    <blockquote class="review">
      <p>"{{ review.excerpt }}"</p>
      <cite>
        {{ review.author }}, {{ review.title }}, {{ review.employer }}
      </cite>
    </blockquote>
  {% endfor %}
</div>

<div class="clients">
  <section>
    <h1>{{ resource.clientBlockTitle }}</h1>
    {{ resource.clientBlockCopy | markdownify | safe }}
  </section>
  <div class="logofarm">
    <ul>
    {% for client in clients.slice(0,8) %}
      <li>
        <a href="/reviews#{{ client.slug.current }}"><img src="{% imageUrlFor client.tile %}" alt="{{ client.tile.altText }}" /></a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}


