---
layout: layouts/base.njk
singletonCrumb: Contact
permalink: /contact/index.php
---
{# To develop this page, run `php -S localhost:8000` from the _site directory #}

{% for resource in singletons %}
{% if resource.title == "Contact" %}

<div class="singleton contact">

  <article class="body-text">
    <section class="wrap">
      <div>
        <h1>{{ resource.title }}</h1>
        {{ resource.bodyText | markdownify | safe }}
        
        <?php
          {# if($_SERVER['HTTP_HOST'] == "dev.andyfitzgeraldconsulting.com") {
            $adminEmail =  "inquiry@dev.andyfitzgeraldconsulting.com"; 
            } else {
            $adminEmail =  "inquiry@andyfitzgeraldconsulting.com"; 
          } #}

          $subjectPrefix = '';
          $emailTo = 'andy@andyfitzgeraldconsulting.com';
          {# $emailFrom = $adminEmail; #}
          $emailFrom = 'inquiry@andyfitzgeraldconsulting.com';

          if($_SERVER['REQUEST_METHOD'] == 'POST') {
            $name    = stripslashes(trim($_POST['form-name']));
            $email   = stripslashes(trim($_POST['form-email']));
            $subject = stripslashes(trim($_POST['form-subject']));
            $org     = stripslashes(trim($_POST['form-org']));
            $message = stripslashes(trim($_POST['form-message']));

            $pattern  = '/[\r\n]|Content-Type:|Bcc:|Cc:/i';

            if (preg_match($pattern, $name) || preg_match($pattern, $email) || preg_match($pattern, $subject)) {
              die("Message not sent: Header injection detected.");
            }
            
            $emailIsValid = preg_match('/^[^0-9][A-z0-9._%+-]+([.][A-z0-9_]+)*[@][A-z0-9_]+([.][A-z0-9_]+)*[.][A-z]{2,6}$/', $email);

            if($name && $email && $emailIsValid && $subject && $message) {
              $subject = "$subjectPrefix $subject";
              $body = "Name: $name <br /> 
                          Email: $email <br /> 
                          Organization: $org <br/> 
                          Message: $message";
              $headers  = 'MIME-Version: 1.1' . PHP_EOL;
              $headers .= 'Content-type: text/html; charset=utf-8' . PHP_EOL;
              $headers .= "From: $emailFrom" . PHP_EOL;
              $headers .= "Return-Path: $emailTo" . PHP_EOL;
              $headers .= "Reply-To: $email" . PHP_EOL;
              $headers .= "X-Mailer: PHP/". phpversion() . PHP_EOL;
              
              mail($emailTo, $subject, $body, $headers);
              $emailSent = true;

              if(isset($_POST['g-recaptcha-response'])) {
                $secret = '{{ env.recaptchaSecret }}';
                $verifyResponse = file_get_contents('https://www.google.com/recaptcha/api/siteverify?secret='.$secret.'&response='.$_POST['g-recaptcha-response']);
                $responseData = json_decode($verifyResponse);
                if($responseData->success) {
                  mail($emailTo, $subject, $body, $headers);
                  $emailSent = true;
                } 
                else {
                  $spamDetection = true;
                }
              } 
              else {
                $hasError = true;
              } 
            }
          }
        ?>

        <?php if(!empty($emailSent)): ?>
          <h4>Thank you. Your message was sent.</h4>
        <?php else: ?>
          <?php if(!empty($spamDetection)): ?>
            <h4>Oh no! It looks like you might be a bot..</h4>
            <p>And I here I am trying to cut down on interactions with bots just now. If you think this message may be in error, please have another go at the form below, or feel free to reach out to me on <a href="https://www.linkedin.com/in/andyfitzgerald">LinkedIn.</a></p> 
          <?php elseif(!empty($hasError)): ?>
            <h4>I'm sorry about this, but there seems to have been a problem.</h4>
            <p>You can might try again in a minute, or feel free to reach out to me on <a href="https://www.linkedin.com/in/andyfitzgerald">LinkedIn.</a></p>
          <?php endif; ?>

          <form id="contact-form" class="contact-form" method="post" autocomplete="on">
            <div class="form-content">
              <div>
                <label>Name *
                  <input type="text" class="form-field" id="form-name" name="form-name" required/>
                </label>
              </div>
              <div>
                <label>Organization
                  <input type ="text" class="form-field" id="form-org" name="form-org" />
                </label>
              </div>
              <div>
                <label>Email *
                  <input type="email" class="form-field" id="form-email" name="form-email" required />
                </label>
              </div>
              <div>
                <label>Subject *
                  <input type="text" class="form-field" id="form-subject" name="form-subject" required/>
                </label>
              </div>
              <div class="message-text">
                <label>What would you like to talk about? *
                  <textarea class="form-field" rows="5" id="form-message" name="form-message" autocomplete="off" required></textarea>
                </label>
              </div>

            <div class="send">
              <div class="g-recaptcha" data-sitekey="6Lcpq_IZAAAAAOK-YOS-lvyERHILtOuNL4gIAuFv"></div>
              <button type="submit" class="button">Send</button>
            </div>
          </form>
        <?php endif; ?>
      </div>  
    </section>
  </article>
</div>

{% endif %}
{% endfor %}