---
layout: layouts/base.njk
---
{% for resource in singletons %}
{% if resource.title == "Home" %}

<div class="home">

  <article class="value-prop">
    <div class="wrap">
      <div class="display">{{ resource.heroCopy | markdownify | safe }}</div>
      <div class="img">{% responsiveImage resource.heroImg, ".75"  %}</div>
    </div>
  </article>

  <article>
    <section class="wrap">
      <h1>{{ resource.servicesBlockTitle }}</h1>
      <p>{{ resource.servicesBlockCopy }}</p>
    </section>
    <section class="related-content">
      <ul>
      {% for card in services %}
          <li>
            <a href="/{{ path }}/{{ card.slug.current }}">
              {% responsiveImage card.heroImage, ".75" %}
              <div>
                <h3>{{ card.title }}</h3>
                <p>{{ card.shortDescription }}</p>
              </div>
            </a>
          </li>
      {% endfor %}
      </ul>
    </section>  
  </article>
  
  <article class="client-feedback">
      <section>
        <h1>{{ resource.reviewBlockTitle }}</h1>
        <p>{{ resource.reviewBlockCopy }}</p>
      </section>
    {% for review in resource.review %}
      <blockquote class="review">
        <p>"{{ review.excerpt }}"</p>
        <cite>
          {{ review.author }}, {{ review.title }}, {{ review.employer }}
        </cite>
      </blockquote>
    {% endfor %}
    <a class="button" href="/reviews">Read More Feedback</a> 
  </article>





  {# <pre style="white-space: pre-wrap;">{{ resource | dump(2) }}</pre> #}
  <h2>Articles</h2>
  <ul>
  {% for article in collections.writing %}
    <li>
      <a href="{{ article.url | url }}">{{ article.data.resource.title }}</a>
    </li>
  {% endfor %}
  </ul>

  <h2>Services</h2>
  <ul>
  {% for service in collections.services %}
    <li>
      <a href="{{ service.url | url }}">{{ service.data.resource.title }}</a>
    </li>
  {% endfor %}
  </ul>

  <h2>Case Studies</h2>
  <ul>
  {% for study in collections['case studies'] %}
    <li>
      <a href="{{ study.url | url }}">{{ study.data.resource.title }}</a>
    </li>
  {% endfor %}
  </ul>


</div>


{% endif %}
{% endfor %}