---
"permalink": "insight-search.json"
---
[
  {% for article in articles %}
  {
    "title": "{{ article.title | safe }}",
    "description": "{{ article.metaDescription | safe | replace('"', '&quot;') }}",
    "lede": "{{ article.lede | safe | replace('"', '&quot;') }}",
    "slug": "{{ article.slug.current | safe | replace('"', '&quot;') }}",
    "type": "article",
    "pubDate": "{{ article.pubDate | date("MMMM D, YYYY") }}",
    "insightType": "{{ article.insightType}}"
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]