---
permalink: /mailhandler.php
---
<?php
if (!empty($_POST)) {
    $to = 'andy@andyfitzgeraldconsulting.com';
    
    $errors = [];
    $errorMessage = '';

    if($_SERVER['HTTP_HOST'] == "dev.andyfitzgeraldconsulting.com") {
        $adminEmail =  "inquiry@dev.andyfitzgeraldconsulting.com"; 
    } elseif ($_SERVER['HTTP_HOST'] == "andyfitzgeraldconsulting.com") {
        $adminEmail =  "inquiry@andyfitzgeraldconsulting.com"; 
    } else {
        $adminEmail =  "local@andyfitzgeraldconsulting.com"; 
    } 

   $name = stripslashes(trim($_POST['name']));
   $email = stripslashes(trim($_POST['email']));
   $subject = stripslashes(trim($_POST['subject']));
   $org = $_POST['org'];
   $message = $_POST['message'];

    // check required fields
    if (empty($name)) {
        $errors[] = 'Name is empty';
    }
    if (empty($email)) {
        $errors[] = 'Email is empty';
    } else if (!filter_var($email, FILTER_VALIDATE_EMAIL)) {
        $errors[] = 'Email is invalid';
    }
    if (empty($subject)) {
        $errors[] = 'Subject is empty';
    }
    if (empty($message)) {
        $errors[] = 'Message is empty';
    }

    // check for header injection
    $pattern  = '/[\r\n]|Content-Type:|Bcc:|Cc:/i';

    if (preg_match($pattern, $name) || preg_match($pattern, $email) || preg_match($pattern, $subject)) {
        exit("Message not sent: Header injection detected.");
    }

    // compose headers
    $headers = [
        'From' => $adminEmail,
        'Reply-To' => $email,
        'X-Mailer' => 'PHP/' . phpversion(),
        'MIME-Version' => '1.0',
        'Content-Type' => 'text/html; charset=iso-8859-1'
    ];

    // compose body
    $body = "Name: $name <br /> 
                Email: $email <br /> 
                Organization: $org <br/> 
                Message: $message";


    if (empty($errors)) {
        if(isset($_POST['g-recaptcha-response'])) {
            $secret = '{{ env.recaptchaSecret }}'; 
            $verifyResponse = file_get_contents('https://www.google.com/recaptcha/api/siteverify?secret='.$secret.'&response='.$_POST['g-recaptcha-response']);
            $responseData = json_decode($verifyResponse);
            if($responseData->success) {
                if (mail($to, $subject, $body, $headers)) {
                        header('Location: https://andyfitzgeraldconsulting.com/contact-success/');
             
                } else {
                    // error sending
                    $errorMessage = "<p style='color: red;'>There was an server error while sending this message.</p>";
                    echo "{$errorMessage}";
                }
            } else {
                $spamDetection = true;
                $errorMessage = "<p style='color: red;'>Message not sent. Spam was detected.</p>";
                echo "{$errorMessage}";
            }
        } else {
            // errors in form
            $errors[] = 'Recaptcha response note detected.';
            $allErrors = join('<br/>', $errors);
            $errorMessage = "<p style='color: red;'>{$allErrors}</p>";
            echo "{$errorMessage}";
        }  
    }
} else {
    header('Location: https://andyfitzgeraldconsulting.com');
    exit;
}
?>