---
layout: base.njk
---
{% for resource in singletons %}
  {% if resource.title == "Reviews" %}
    <main class="singleton">
      {% include 'partials/singletonBody.njk' %}

      <section class="grid reviews">
        <ul class="client-grid">
          {% for client in clients %}
            {% if client.reviews > 0 %}
              <li class="review-lockup" id="{{ client.slug.current | slug }}">
                <div class="logo">{% responsiveImage client.logo,
                  "1" %}</div>
                <div class="review">
                  <h2>{{ client.name }}</h2>
                  {% for review in reviews %}
                    {% if review.employer._id == client._id %}
                      <blockquote class="review-copy">
                        {{ review.body | safe }}
                        <cite>
                          {{ review.author }}, {{ review.title }}, {{ review.employer.name }}
                        </cite>
                      </blockquote>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>

    </main>
  {% endif %}
{% endfor %}