---
layout: layouts/service
tags:
  - services
pagination:
  alias: resource
  data: services
  size: 1
  addAllPagesToCollections: true
permalink: "services/{{ resource.slug.current | slug }}/index.html"
---