---
layout: layouts/service
tags:
  - services
pagination:
  alias: service
  data: services
  size: 1
  addAllPagesToCollections: true
permalink: "services/{{ service.slug.current | slug }}/index.html"
---