---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
# https://www.belter.io/eleventy-sitemap/
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    <url>
        <loc>{{ metadata.url }}{{ page.url | url }}</loc>
        {%- if page.data.resource.published %}
        <lastmod>{{ page.data.resource.published }}</lastmod>
        {%- elif page.data.resource.pubDate %}
        <lastmod>{{ page.data.resource.pubDate }}</lastmod>
        {%- else %}
        <lastmod>2024-03-11T00:00:00Z</lastmod>
        {%- endif -%}
        {# <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "monthly" }}</changefreq> #}
    </url>
  {% endfor %}
</urlset>