---
layout: layouts/study
tags:
  - case studies
pagination:
  alias: resource
  data: studies
  size: 1
  addAllPagesToCollections: true
permalink: "case-studies/{{ resource.slug.current | slug }}/index.html"
---
