---
layout: base.njk
pagination:
  alias: tag
  data: taxonomy
  size: 1
  addAllPagesToCollections: true
permalink: /insights/tag/{{ tag.prefLabel | slug }}/index.html
---
    <main>
      <section class="grid singleton insights">

        <h1>{{ tag.prefLabel }} Insights</h1>
        <div class="hero-copy">
          {{ resource.heroCopy | safe }}
        </div>
        {% include '../_includes/partials/articleSidebar.njk' %}

        {% for resource in articles %}
          {% if pagination.items[0].prefLabel in resource.topicTags or pagination.items[0].prefLabel == resource.insightType  %}      
            {% include '../_includes/partials/articlePreview.njk' %}
          {% endif %}
        {% endfor %}




      </section>
    </main>