---
layout: base.njk
pagination:
  alias: tag
  data: taxonomy
  size: 1
  addAllPagesToCollections: true
permalink: /insights/tag/{{ tag.prefLabel | slug }}/index.html
---
{% from "partials/articlePreview.njk" import preview with context %}
    <main>
      <section class="grid singleton insights">

        {% if tag.altLabel %}        
        <h1>{{ tag.altLabel }}</h1>
        {% else %}
        <h1>{{ tag.prefLabel }} Insights</h1>
        {% endif%}
        <div class="hero-copy">
          {{ resource.heroCopy | safe }}
        </div>
        {% include '../_includes/partials/articleSidebar.njk' %}

        {% for resource in articles %}
          {% if pagination.items[0].prefLabel in resource.topicTags or pagination.items[0].prefLabel == resource.insightType  %}      
            {{ preview(isJs = false, resource) }}
          {% endif %}
        {% endfor %}




      </section>
    </main>