---
layout: layouts/base.njk
tags:
  - writing
pagination:
  alias: resource
  data: articles
  size: 2
  addAllPagesToCollections: true
banner: “Complex issues … written about patiently, clearly, and accurately.”
permalink: /writing/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}/index.html
---
<div class="article">
  <div class="col">
    <div class="preview">
      {%- for resource in pagination.items %}
      <article>
        <a href="/writing/{{ resource.slug.current | slug }}" class="teaser">
          <h1>{{ resource.title }}</h1>
          <time datetime="{{ resource.pubdate }}">{{ resource.pubDate | date("MMMM D, YYYY") }}</time>
          <img src="{% articleHero resource.heroImage %}" alt="{{ resource.heroImage.altText }}">
          {{ resource.lede | markdownify | safe }}
        </a>
        <nav class="related">
          <h2>Topics</h2>
          <ul>
          {%- for label in resource.topic -%}
            <li><a href="/topic/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a></li>
          {%- endfor -%}
          </ul>
        </nav>
      </article>
      {% endfor %}

      <nav class="pagination" aria-label="Pagination links">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="newer">« Newer Articles</a>
        {% endif %}
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="older">Older Articles »</a>
        {% endif %}
      </nav>
    </div>

    <nav class="sidebar">
      <h2>Categories</h2>
        <ul>
          {%- for label in taxonomy -%}
            {% if label.scheme == "Category" %}
              <li><a href="/category/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a></li>
            {% endif %}
          {%- endfor -%}
        </ul>
      <h2>Topics</h2>
        <ul>
          {%- for label in taxonomy -%}
            {% if label.scheme == "Topic" %}
              <li><a href="/topic/{{ label.prefLabel | slugify }}">{{ label.prefLabel }}</a></li>
            {% endif %}
          {%- endfor -%}
        </ul>
    </nav>
  </div>
</div>  