@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

body {
  font-family: $body;
  font-size: 1.125rem; //18px
  line-height: 1.6666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, a:visited {
  transition: all .25s ease;
  color: inherit;
}
a:hover {    
  color: $dark-blue;
}
h1, h2, h3 {
  margin: 1rem 0 0;
  @include breakpoint(large) {
    margin: 2rem 0 0;
  }
}
h1, h2 {
  color: $blue;
}
h1 {
  font-size: 2rem;
  line-height: initial;
  @include breakpoint(medium) {
    margin-bottom: .5rem;
  }
}
h3 {
  font-weight: 400;
}
p, ul, ol {
  font-weight: 300;
  margin-top: 0;
}
time {
  display: block;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  color: $medium-gray;
}
// consider which of these to break into individual page style pages
blockquote {
  p {
    font-weight: 500;
  }
  cite {
    display: inline-block; // tightens line height
    color: $white;
    font-size: 0.999999rem; // 16px
    font-weight: 300;
    &::before {
      content: "— "
    }
  }
}
figure { // does this belong in a "global elements" file?
  margin: 0; 
  line-height: 1.25;
  figcaption {
    font-size: 0.999999rem;
    font-weight: 300;
    font-style: italic;
  }
}