body {
  font-family: var(--body);
  font-size: 1.125rem; /* 18px */
  line-height: 1.6666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, a:visited {
  transition: all .25s ease;
  color: inherit;
}
a:hover {    
  color: var(--blue);
}
h1, h2, h3 {
  margin: 1rem 0 0;
  /* @include breakpoint(large) {
    margin: 2rem 0 0;
  } */
}
h1, h2 {
  /* color: $blue; */
}
h4, h5 {
  margin-bottom: 0;
}
h1 {
  font-size: 2rem;
  line-height: initial;
  /* @include breakpoint(medium) { */
  /*   margin-bottom: .5rem; */
  /* } */
}
h3 {
  font-weight: 400;
}
h4 {
  margin-top: 3rem;
}
p, ul, ol {
  margin-top: 0;
}
time {
  display: block;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  /* color: $medium-gray; */
}
code {
  /* background-color: color.scale($blue, $lightness: 60%); */
  /* border-radius: $radius; */
  padding: 0 .25rem;
  overflow-wrap: break-word;
}
pre {
  /* background-color: color.scale($blue, $lightness: 60%); */
  /* border-radius: $radius; */
  white-space: pre;
  overflow: auto;
  padding: 1rem;
}
/* consider which of these to break into individual page style pages */
/* blockquote {
  p {
    font-weight: 500;
  }
  cite {
    /* display: inline-block; tightens line height */
    /* color: $white; */
    /* font-size: 0.999999rem; 16px */
    /* font-weight: 300;
    &::before {
      content: "— "
    }
  } */
  /* .article & {
    /* color: $dark-blue; */
  /* }
} */
/* li {
  article & {
    margin-bottom: 1rem;
  }
} */