---
layout: layouts/base
tags:
  - services
pagination:
  alias: resource
  data: services
  size: 1
  addAllPagesToCollections: true
banner: “A hands on leader … through all aspects of the design process”
permalink: "services/{{ resource.slug.current | slug }}/index.html"
---
<article class="service">
  <section class="overview">
    <div class="img">{% responsiveImage resource.heroImage, ".75"  %}</div>
    <h1>{{ resource.title }}</h1>
    <div class="copy display">{{ resource.overview | markdownify | safe }}</div>
  </section>
  <section class="detail">
    <div>
      {{ resource.body | markdownify | safe }}
    </div>
  </section>
  <section class="related-content">
    <h2>Case Studies & Insights</h2>
    {% include '../_includes/partials/relatedResources.njk' %}
  </section>
</article>
