// Variables that are used across multiple style sheet
// Variables used in a single sheet are located at the top of that sheet

@use "sass:color";

// Typography
$header: 'Lato', Roboto, Arial, sans-serif;
$body: 'Open Sans', Roboto, Arial, sans-serif;

// Colors
$blue: #4e9dbc;
$dark-blue: color.scale($blue, $lightness: -10%);
$light-gray: rgba(43,40,40,0.05);
$medium-gray: #646464;
$dark-gray: #2b2b2b;
$black: #000000;
$white: #fefefe;

// Wrap
$max-width: 1000px; // max page width on desktop

// Grid
$card-min: 300px; 
$card-max: 2fr;

// Breakpoints
$breakpoints: (
  'small': 375px,
  'medium': 600px,
  'large':  900px
) !default;

// Global styles
$radius: 3px;