:root {
	/* Typography */
	--header: 'Lato', Roboto, Arial, sans-serif;
	--headline: 'Noto Serif', Georgia, serif;
	--body: 'Open Sans', Roboto, Arial, sans-serif;

	/* Colors */
	--blue: #4e9dbc;
	--dark-blue: #1f4351;
	--light-gray: rgba(43, 40, 40, 0.1);
	--eyebrow-gray: #777676;
	--medium-gray: #646464;
	--dark-gray: #2b2b2b;
	--black: #051319;
	--white: #fefefe;
	--alert-bg: #f7e4e1;
	--alert-text: #cc4b37;

	/* Wrap */
	--max-width: 1024px;	/* max page width on desktop */

	/* Global UI Look & Feel */
	--radius: 3px;
}
