---
layout: layouts/base.njk
singletonCrumb: 404
eleventyExcludeFromCollections: true
---

<div class="singleton not-found">

  <article class="body-text">
    <section class="wrap">
      <div>
        <h1>Well This is Obnoxious</h1> 
        <p>I wasn't able to find the page you're looking for.</p>
        <h2>Most Popular Pages</h2>
        <p>Perhaps you were looking for one of these:</p>
        <ul>
          <li><a href="https://www.andyfitzgeraldconsulting.com/writing/keyword-extraction-nlp/">Keyword Extraction with NLP: A Beginner's Guide</a></li>
          <li><a href="https://www.andyfitzgeraldconsulting.com/writing/structured-content-design-22/">Structured Content Design Workflow 2022</a></li>
          <li><a href="https://www.andyfitzgeraldconsulting.com/writing/self-hosting-sanity-studio/">Self-Hosting Sanity Studio with GitHub Actions</a></li>
          <li><a href="https://www.andyfitzgeraldconsulting.com/writing/choosing-card-sorting-topics/">How to Choose Topics for Card Sorting></a></li>
          <li><a href="https://www.andyfitzgeraldconsulting.com/services/information-architecture/">Information Architecture</a></li>
        </ul>

      </div>
    </section>
  </article>
</div>