---
layout: layouts/base.njk
singletonCrumb: Speaking
---
{% for resource in singletons %}
{% if resource.title == "Speaking" %}

<div class="singleton speaking">
  <article class="body-text">
    <section class="wrap">
      <h1>{{ resource.title }}</h1>
      {{ resource.bodyText | markdownify | safe }}
      <ul id="event-list">
      {% for event in events %}
        <li>
          <time class="timeclass" datetime="{{ event.date }}">
              {{ event.date | date("MMMM D, YYYY") }}
          </time>
          <h3>
            {% if event.link %}
            <a href="{{ event.link }}">{{ event.event }}{% include '../_includes/icons/external.svg' %}</a>
            {% else %}
            {{ event.event }}
            {% endif %}
          </h3>
          <p>
            {{ event.location.city }}
            {%- if event.location.state -%}
              , {{ event.location.state }}
            {%- elif event.location.country -%}
              , {{ event.location.country }}
            {%- endif -%}
          </p>
        </li>
      {% endfor %}
      </ul>
    </section>
</div>

{% endif %}
{% endfor %}