---
layout: layouts/base.njk
singletonCrumb: Writing
tags:
  - writing
pagination:
  alias: resource
  data: articles
  size: 5
  addAllPagesToCollections: true
eleventyExcludeFromCollections: true
banner: “Complex issues … written about patiently, clearly, and accurately.”
permalink: /writing/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}/index.html
---
<div class="article">
  <div class="col">
    <div class="preview">
      {%- for resource in pagination.items %}
      {% include '../_includes/partials/articlePreview.njk' %}
      {% endfor %}

      <nav class="pagination" aria-label="Pagination links">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="newer">« Newer Articles</a>
        {% endif %}
        <span class="info">Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="older">Older Articles »</a>
        {% endif %}
      </nav>
    </div>
    <nav class="sidebar index">
      {% include '../_includes/partials/articleSidebar.njk' %}
    </nav>
  </div>
</div>  