---
banner: Complex information made easy to understand and pleasant to use.
cta: Ready to tame your complex information environment to better meet business goals and user needs?
---
<!doctype html>
<html lang="en">
  {% include '../partials/head.njk' %}
  <body>
    <header id="header">
      <nav>
        <ul class="nav-title">
          <li class="title"><a href="{{ '/' | url }}">{{ metadata.siteTitle }}</a></li>
          <li class="subtitle">{{ metadata.siteSubtitle }}</li>
        </ul>
        <a href="#site-navigation" id="open-menu" class="menu-toggle" aria-label="Open site menu">
          {% include '../icons/menu.svg' %}
        </a>
        <div id="nav-menu" class="side-nav-closed"> 
            <button id="close-menu" aria-label="Close site menu" type="button">
              {% include '../icons/close.svg' %}
            </button>
            <ul>
            {% for item in navigation.items %}
              <li>
                <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
              </li>
            {% endfor %}
              {# Add these to navigation.json  #}
              <li class="nav-bar-hidden"><a href="/reviews">Reviews</a></li>
              <li class="nav-bar-hidden"><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>              
            </ul>
          
          <div class="rule"></div> 
        </div>
        {# <a href="#site-navigation" id="open-menu" class="menu-toggle" aria-label="Open site menu">
          {% include '../icons/menu.svg' %}
        </a> #}
      </nav>
    </header>
    <section class="banner">
      {% if resource.bannerImg %}
        {% bannerImage resource.bannerImg, resource.bannerPosition %}
      {% else %}
        {% bannerImage metadata.bannerImg, metadata.bannerPosition %}
      {% endif %}
      {# <img src="https://www.2020.andyfitzgeraldconsulting.com/img/cover/home.jpg"> #}
      <div class="cover-overlay"></div>
      <div class="cover-text">
        <p>
          {% if resource.bannerCopy %}
            {# Load page specific copy if available #}
            {{ resource.bannerCopy }}
          {% else %}
            {# If no page specific data, load copy from template #}
            {{ banner }}
            {# Consider loading this from metadata instead #}
          {% endif %}
        </p>
      </div>
    </section>
    <main>
      {% if page.url != "/" %}
      <nav aria-label="breadcrumb" class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          {% if singletonCrumb %}
            <li>{{ singletonCrumb }}</li>
          {% elif tags == "categories" %}
            <li>{{ resource.title }}</li>
          {% else %}
            <li>
              <a href="/{{ tags | slugify }}/">{{ tags }}</a>
            </li>
            {% if crumbTitle %}
              <li>{{ crumbTitle }}</li> 
            {% elif tag.prefLabel %}
              <li>{{ tag.prefLabel }}</li>
            {% elif resource.title %}
              <li>{{ resource.title }}</li>
            {% endif %}
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      {{ content | safe }}
    </main>

    {% if page.url != "/contact/index.php" %}
    <section class="cta">
      <div>
        <p>
          {% if resource.cta %}
            {{ resource.cta }}
          {% else %}
            {{ cta }}
          {% endif %}
        </p>
        <a class="button" href="/contact">Let's Talk</a> 
      </div>
    </section>
    {% endif %}

    <footer>
      <section class="site-info">
        <p class="description">Andy Fitzgerald Consulting, LLC is an independent user experience architecture and design practice based in Seattle.</p>    
        <ul id="site-navigation" class="nav">         
          <li><a href="/services">services</a></li>
          <li><a href="/case-studies">studies</a></li>
          <li><a href="/reviews">reviews</a></li>
          <li><a href="/writing">writing</a></li>
          <li><a href="/speaking">speaking</a></li>
          <li><a href="/about">about</a></li>
        </ul> 
      </section>
      <section class="social">
        <ul>
          <li class="linkedin"><a href="http://www.linkedin.com/in/andyfitzgerald" target="_blank" rel="noopener">{% include '../icons/linkedin.svg' %}</a></li>
          <li class="twitter"><a href="https://twitter.com/andybywire" target="_blank" rel="noopener">{% include '../icons/twitter.svg' %}</a></li>
          <li class="slideshare"><a href="https://www.slideshare.net/andybywire" target="_blank" rel="noopener">{% include '../icons/slideshare.svg' %}</a></li>
          <li class="github"><a href="https://www.github.com/andybywire" target="_blank" rel="noopener">{% include '../icons/github.svg' %}</a></li>
        </ul> 
      </section>
      <p class="copyright">© 2016-2022 Andy Fitzgerald Consulting, LLC</p>
    </footer>
  </body>
  <script>
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/serviceworker.js')
      .then( function (registration) {
        console.log('Service worker registered with scope:', registration.scope);
      })
      .catch( function (error) {
        console.log('Service worker registration error:', error);
      });
    }
  </script>  
  <script src="/js/afc.js"></script>
</html>