@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

.cta {
  background-color: $dark-gray;
  color: $white;
  .wrap {
    border: 1px solid whitesmoke;
  }
}
.footer {
  background-color: $blue;
  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    @include breakpoint(large) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      p, ul {
          width: max(45%, 360px);
        }
    }
    .description {
      font-weight: 300;
      color: $dark-gray;
    }
    .nav {
      display: grid;
      width: min(400px, 100%);
      grid-template-columns: repeat(3, minmax(10px, 1fr)); 
      padding-inline-start: 0;
      row-gap: 1.5rem;
      @include breakpoint(large) {
        row-gap: 0;
      }
      li  {
        font-weight: 500;
        list-style: none;
        font-family: $header;
        justify-self: center;
        a {
          color: $dark-gray;
          position: relative;
          text-decoration: none;
          &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              border-bottom: 1px solid $dark-gray;
              transition: 0.3s;   
          }
          &:hover:after, &:focus:after {
              width: 100%;
          }
      }
      }
    }
  }
  .social {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    @include breakpoint(medium) {
      padding: 0 25%;
    }
    li {
      list-style: none;
      svg {
        width: 3rem;
        @include breakpoint(medium) {
         width: 3.5rem;
        }
      }
    }
    a {
      fill: $dark-gray;
      stroke: $dark-gray;
      stroke-width: 2;
      @include breakpoint(medium) {
          width: 3rem;
      }
      &:hover, &:focus {
          fill: $blue;
          stroke-dashoffset: 0px;
          transition: stroke-dashoffset .5s, fill .25s;        
      }
    }
    .linkedin a {
        stroke-dasharray: 350px;
        stroke-dashoffset: 350px;
        &:hover, &:focus {
            stroke-dashoffset: 700px;
            transition: stroke-dashoffset .33s cubic-bezier(1, 0, 1, 1), fill .33s;
        }
    }
    .twitter a {
        stroke-dasharray: 390px;
        stroke-dashoffset: 390px;
        &:hover, &:focus {
            stroke-dashoffset: 780px;
            transition: stroke-dashoffset .33s cubic-bezier(1, 0, 1, 1), fill .33s;
        }
    }
    .slideshare a {
        stroke-dasharray: 400px;
        stroke-dashoffset: 400px;
        &:hover, &:focus {
            stroke-dashoffset: 800px;
            transition: stroke-dashoffset .33s cubic-bezier(1, 0, 1, 1), fill .33s;
        }
    }
    .github a {
        stroke-dasharray: 562px;
        stroke-dashoffset: 562px;
        &:hover, &:focus {
            stroke-dashoffset: 1124px;
            transition: stroke-dashoffset .33s cubic-bezier(1, 0, 1, 1), fill .33s;
        }
    }
  }
  .copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}