@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

.sidebar, .related {
  h2 {
    color: $black;
    font-weight: 400;
    font-variant: all-small-caps;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    text-transform: lowercase;
  }
}
.sidebar {
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}
.related {
  margin-bottom: 3rem;
  h2, ul, li {
    display: inline;
  }
  h2 {
    font-size: 1.5rem;
    &:after {
      content: ": ";
    }
  }
  li:not(:last-of-type):after {
    content: ", ";
  }
}