@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

// // Create wrap for horizontal color bands
// @mixin segment {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// // Create centered stackable elements within bands
// @mixin fragment {
//   width: calc(100% - 1em);
//   max-width: $max-width;
//   margin: 0 .5em;
// }

// Site-wide styles
html {
  scroll-behavior: smooth;
}
img {
  max-inline-size: 100%; // element alway fits in containing frame
  block-size: auto; // aspect ratio of images remains constant
}
// Wrap styles
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
}
header {
  @include segment;
  > nav {
    @include fragment;
  }
}
section.banner {
  @include segment;
  div.cover-text {
    @include fragment;
  }
}
// main {}
section.cta {
  @include segment;
  > div {
    @include fragment;
  }
}
footer {
  @include segment;
  > section, > p {
    @include fragment;
  }
}
