@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

// // Create wrap for horizontal color bands
// @mixin segment {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// // Create centered stackable elements within bands
// @mixin fragment {
//   width: calc(100% - 1em);
//   max-width: $max-width;
//   margin: 0 .5em;
// }

// Site-wide styles
html {
  scroll-behavior: smooth;
}
img {
  max-inline-size: 100%; // element alway fits in containing frame
  block-size: auto; // aspect ratio of images remains constant
  border-radius: 2px;
}
// sort out figure across articles (second use) and case studies (first use, which is currently borked)
figure {
  margin: 0; 
  line-height: 1.25;
  img {
    max-height: 60vh;
  }
  figcaption {
    font-size: 0.999999rem;
    font-weight: 300;
    font-style: italic;
  }
}
figure {
  margin: 3rem 0;
  .outline {
    border: 1px solid $light-gray;
  }
}
// Wrap styles
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
}
header {
  @include segment;
  > nav {
    @include fragment;
  }
}
section.banner {
  @include segment;
  div.cover-text {
    @include fragment;
  }
}
// main {}
section.cta {
  @include segment;
  > div {
    @include fragment;
  }
}
footer {
  @include segment;
  > section, > p {
    @include fragment;
  }
}
