@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

html {
  scroll-behavior: smooth;
}

// Wrap styles
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
}
header {
  @include segment;
  > nav {
    @include fragment;
  }
}
section.banner {
  @include segment;
  div.cover-text {
    @include fragment;
  }
}
main {
  img {
    max-width: 100%;
  }
}
section.cta {
  @include segment;
  > div {
    @include fragment;
  }
}
footer {
  @include segment;
  > section, > p {
    @include fragment;
  }
}
