<!doctype html>
<html lang="en">
  {% include '../components/head.njk' %}
  <body>
    <header id="header">
      <nav>
        <ul class="nav-title">
          <li class="title"><a href="{{ '/' | url }}">{{ metadata.siteTitle }}</a></li>
          <li class="subtitle">{{ metadata.siteSubtitle }}</li>
        </ul>
        <div id="nav-menu" class="side-nav-closed"> 
            <button id="close-menu" aria-label="Close site menu" type="button">
              {% include '../icons/close.svg' %}
            </button>
            <ul>
              <!-- Need to add .njk support for selected page -->
              <li><a href="/services">Services</a></li>
              <li><a href="/case-studies">Case Studies</a></li>
              <li><a href="/writing">Writing</a></li>
              <li><a href="/speaking">Speaking</a></li>
              <li class="nav-bar-hidden"><a href="/reviews">Reviews</a></li>
              <li class="nav-bar-hidden"><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>              
            </ul>
          
          <div class="rule"></div> 
        </div>
        <a href="#site-navigation" id="open-menu" class="menu-toggle">
          {% include '../icons/menu.svg' %}
        </a>
      </nav>
    </header>
    <section class="banner">
      <div class="cover-overlay"></div>
      <div class="cover-text">
        <p>Complex information made easy to understand and pleasant to use.</p>
      </div>
    </section>
    <main>
      {% if page.url != "/" %}
      <nav aria-label="breadcrumb" class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/{{ tags }}/">{{ tags }}
              </a>
          </li>
          <li>
            {% if tags == "services" %} {{ service.title }}
            {% elif tags == "articles" %} article
            {% endif %}  
          </li>
        </ul>
      </nav>
      {% endif %}
      {{ content | safe }}
    </main>
 
    <section class="cta">
      <div>
        <p>Here's the CTA block</p>
        <p>This will be a button.</p>
      </div>
    </section>

    <footer>
      <section class="site-info">
        <p class="description">Andy Fitzgerald Consulting, LLC is an independent user experience architecture and design practice based in Seattle.</p>    
        <ul id="site-navigation" class="nav">         
          <li><a href="/services">services</a></li>
          <li><a href="/case-studies">studies</a></li>
          <li><a href="/reviews">reviews</a></li>
          <li><a href="/writing">writing</a></li>
          <li><a href="/speaking">speaking</a></li>
          <li><a href="/about">about</a></li>
        </ul> 
      </section>
      <section class="social">
        <ul>
          <li class="linkedin"><a href="http://www.linkedin.com/in/andyfitzgerald" target="_blank" rel="noopener">{% include '../icons/linkedin.svg' %}</a></li>
          <li class="twitter"><a href="https://twitter.com/andybywire" target="_blank" rel="noopener">{% include '../icons/twitter.svg' %}</a></li>
          <li class="slideshare"><a href="https://www.slideshare.net/andybywire" target="_blank" rel="noopener">{% include '../icons/slideshare.svg' %}</a></li>
          <li class="github"><a href="https://www.github.com/andybywire" target="_blank" rel="noopener">{% include '../icons/github.svg' %}</a></li>
        </ul> 
      </section>
      <p class="copyright">© 2016-2022 Andy Fitzgerald Consulting, LLC</p>
    </footer>
  </body>
  <script src="/js/afc.js"></script>
</html>