<!doctype html>
<html lang="en">
  {% include '../components/head.njk' %}
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.siteTitle }}</a></h1>
      <p>{{ metadata.siteSubtitle }}</p>
      <ul class="nav">
        <li><a href="/services">Services</a></li>
        <li><a href="/case-studies">Case Studies</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/speaking">Speaking</a></li>
        {# <li><a href="/about">About</a></li> #}
        <li><a href="/contact">Contact</a></li> 
      </ul>
    </header>

    <main>
      {{ content | safe }}
    </main>
    <footer>
        <section class="cta">
          {# <div class="wrap"> #}
            <p class="wrap">Here's the CTA block</p>
          {# </div> #}
        </section>
        <section class="footer">
          <div class="detail wrap">
            <p class="description">Andy Fitzgerald Consulting, LLC is an independent user experience architecture and design practice based in Seattle.</p>    
            <ul class="nav">
              <li><a href="/services">services</a></li>
              <li><a href="/case-studies">studies</a></li>
              <li><a href="/reviews">reviews</a></li>
              <li><a href="/writing">writing</a></li>
              <li><a href="/speaking">speaking</a></li>
              <li><a href="/about">about</a></li>
              <!-- <li><a href="/contact">contact</a></li> -->
            </ul> 
          </div>
          <div class="wrap">
            <ul class="social">
              <li class="linkedin"><a href="http://www.linkedin.com/in/andyfitzgerald" target="_blank" rel="noopener">{% include '../icons/linkedin.svg' %}</a></li>
              <li class="twitter"><a href="https://twitter.com/andybywire" target="_blank" rel="noopener">{% include '../icons/twitter.svg' %}</a></li>
              <li class="slideshare"><a href="https://www.slideshare.net/andybywire" target="_blank" rel="noopener">{% include '../icons/slideshare.svg' %}</a></li>
              <li class="github"><a href="https://www.github.com/andybywire" target="_blank" rel="noopener">{% include '../icons/github.svg' %}</a></li>
            </ul> 
          </div>
          <p class="copyright wrap">© 2016-2022 Andy Fitzgerald Consulting, LLC</p>
        </section>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>