---
# Layout template for Service detail pages.
layout: layouts/base.njk
---
<article class="service">
  <section class="overview">
    <div class="img">{% responsiveImage service.heroImage %}</div>
    <h1>{{ service.title }}</h1>
    <div class="copy">{{ service.overview | markdownify | safe }}</div>
  </section>
  <section>
    {{ service.body | markdownify | safe }}
    <p><a href="{{ '/' | url }}">← Home</a></p>
  </section>
</article>