---
# Layout template for Case Study detail pages.
layout: layouts/base.njk
---
<article>
  <div class="study">
    <section class="overview">
      <div class="img">{% responsiveImage resource.heroImage, ".75" %}</div>
      <h1>{{ resource.title }}</h1>
      <div class="copy">
        <h2>At a Glance</h2>
        {{ resource.atGlance | markdownify | safe }}
        <h2>What I Did </h2>
        {{ resource.whatDid | markdownify | safe }}
      </div>
    </section>
  </div>
  <div class="study feedback">
    <section>
      <blockquote>
        <p>"{{ resource.review.excerpt }}"</p>
        <cite>
          {{ resource.review.author }}, {{ resource.review.title }}, {{ resource.review.employer }}
        </cite>
      </blockquote>
    </section>
  </div>
  <div class="study goals"> 
    <section class="study-segment">      
      <p class="section-type">Project Goal</p> 
      {{ resource.projectGoal | markdownify | safe }}
      <figure>
        {% responsiveImage resource.beforeImage %}
        <figcaption>{{ resource.beforeImage.caption }}</figcaption>
      </figure>  
    </section>
  </div>
  {# Need to sort out a predictable system for these segments #}
  <div class="study">
    <section class="detail">
      <div>
        <p class="section-type">Project Approach</p> 
        {{ resource.projectApproach | markdownify | safe }}
      </div>
    </section>
    <section class="detail">
      <div>
        <p class="section-type">Project Outcome</p> 
        {{ resource.projectOutcome | markdownify | safe }}
        {% responsiveImage resource.afterImage %}
      </div>
    </section>
  </div>
</article>