---
# Layout template for Case Study detail pages.
layout: layouts/base.njk
---
<article>
  <section class="overview">
    <h1>{{ resource.title }}</h1>
    {% responsiveImage resource.heroImage, ".75" %}
    {{ resource.atGlance | markdownify | safe }}
    {{ resource.whatDid | markdownify | safe }}
    {{ resource.projectGoal | markdownify | safe }}
    {% responsiveImage resource.beforeImage %}
    {{ resource.projectApproach | markdownify | safe }}
    {{ resource.projectOutcome | markdownify | safe }}
    {% responsiveImage resource.afterImage %}
  </section>
  <section>
    {{ resource.body | markdownify | safe }}
    <p><a href="{{ '/' | url }}">← Home</a></p>
  </section>
</article>