@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

section.related-content{
  @include fragment;
  a {
    text-decoration: none;
  }
  ul {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(330px,3fr));
    padding: 1rem 0;
    @include breakpoint(large) {
      gap: 4rem;
    }
  }
  li {
    list-style: none;
    display: flex;
    background-color: $light-gray;
    border-radius: 5px;
  }
  img {
    border-radius: 5px 5px 0 0;
  }
  div {
    padding: 0 1rem .5rem;
  }
  h3 {
    color: $blue;
    font-weight: 700;
    margin: 0;
  }
  p {
    margin: 0;
  }
}