@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

.article {
  @include segment;
  .col {
    @include fragment;
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
    }
  }
  article, .preview {
    @include breakpoint(large) {
      flex: 0 0 66%;
    }
  }
  nav {
    @include breakpoint(large) {
      flex: 0 0 25%;
    }
    &.pagination {
      a {
        margin: 1rem 0 4rem; 
      }
      .newer {
        float: left;
      }
      .older {
        float: right;
      }
    }
  }
  .preview {
    a.teaser {
      text-decoration: none;
      color: inherit;
      &:hover p:after {
        color: $dark-blue;
        transition: all 0.25s ease;
      }
    }
    p:after {
      content: "Read the article »";
      padding-left: 0.5rem;
      text-decoration: underline;
      transition: all 0.25s ease;
    }
  }
}