@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

.service {
  @include segment;
  section.overview {
    @include fragment;
    display: flex;
    flex-direction: column;
    @include breakpoint(large) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
    }
    .img {
      margin: .5rem 0 0;
      @include breakpoint(medium) {
        order: 10;
      }
      @include breakpoint(large) {
        flex: 1 0 calc(33% - 0.5rem);
      }
    }
    h1 {
      flex: 0 0 100%;
    }
    .copy {
      p:first-of-type {
        font-size: 1.5rem; // 24px
        margin-top: 0;
      }
      @include breakpoint(large) {
        flex: 1 0 calc(66% - 0.5rem);
      }
    }
  }
  section.detail {
    @include fragment;
    @include breakpoint(large) {
      display: flex;
      flex-direction: row;
      div {
        flex: 0 0 66%;
      }
    }
  }
}