.singleton {
	padding-top: 2rem;
	padding-bottom: 4rem;
	& h1,
	.hero-copy,
	.copy,
	.search-results {
		grid-column: col 1 / span 12;
		@media (min-width: 40rem) {
			& {
				grid-column: col 1 / span 8;
			}
		}
	}
	.hero-copy p:first-of-type :not(.search-result) :not(.search-result em) {
		font-family: var(--headline);
		font-size: 1.5rem;
	}
	.search {
		margin-bottom: 3rem;
		& input {
			padding: 0.5rem;
			width: 100%;
			border: 1px solid var(--eyebrow-gray);
			background-color: var(--white);
			border-radius: 3px;
		}
	}
	.search-results H2 {
		padding-bottom: 0;
	}
	.preview-listing {
		padding-bottom: 1rem;
	}
	#search-result-list,
	#insight-hero-copy {
		display: none;
	}
	#search-result-list.show,
	#insight-hero-copy.show {
		display: block;
	}
	#search-result-list.show {
		order: 1;
		@media (min-width: 40rem) {
			& {
				order: unset;
			}
		}
	}
	@media (min-width: 40rem) {
		& {
			.hero-copy {
				padding-right: 1rem;
			}
		}
	}
	.img {
		grid-column: 1 / span 14;
		text-align: center;
		@media (min-width: 40rem) {
			& {
				grid-column: col 9 / span 4;
				grid-row: 2 / 4;
			}
		}
		& img {
			width: 100%;
			max-width: 28rem;
			height: auto;
		}
	}
}
.sidebar {
	order: 0;
	grid-column: col 1 / span 12;
	@media (min-width: 40rem) {
		& {
			order: unset;
			grid-column: col 10 / span 3;
			grid-row: span 2;
		}
	}
	& h2 {
		display: none;
		font-size: 1.5rem;
		line-height: 1.25;
		padding-bottom: 0.5rem;
		&:first-of-type {
			margin-top: 0;
			padding-top: 0;
		}
		&.search-header {
			display: block;
		}
		@media (min-width: 40rem) {
			& {
				display: block;
			}
		}
	}
	& ul {
		display: none;
		list-style: none;
		padding-inline-start: 0;
		@media (min-width: 40rem) {
			& {
				display: block;
			}
		}
	}
	& a {
		font-family: var(--header);
		text-decoration: none;
	}
}
.success {
	grid-column: col 1 / span 12;
	margin-bottom: 5rem;
	font-size: 2rem;
	font-family: var(--headline);
}
.not-found {
	padding-bottom: 4rem;
	& h1,
	p,
	h2,
	ul {
		grid-column: col 1 / span 12;
		@media (min-width: 40rem) {
			& {
				grid-column: col 1 / span 8;
			}
		}
	}
}
