@import '../utilities/variables.scss';
@import '../utilities/mixins.scss';

.singleton {
  article {
    @include segment;
  }
  .wrap {
    @include fragment;
  }
  .value-prop {
    .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 3rem;
      .display {
        font-size: 1.35rem;
        padding-bottom: 3rem;
        @include breakpoint(large) {
          padding-bottom: 0;
        }
        strong {
          font-weight: 600;
        }
        em {
          font-style: inherit;
          font-weight: 600;
          color: $blue;
        }
        P:last-of-type {
          margin-bottom: 0;
        }
        @include breakpoint(large) {
          flex: 0 0 calc(55%);
        }
      }
      .img {
        @include breakpoint(large) {
          flex: 0 0 calc(35%);
        }
      }
    }
  }
  &.home {
    .value-prop {
      background-color: $light-gray;
      .wrap {
        padding: 3rem 0;
      }
    }
  }
  &.about {
    .value-prop .wrap {
      .display {
        @include breakpoint(medium) {
          flex: 0 0 calc(55%);
        }
      }
      .img {
        @include breakpoint(medium) {
          flex: 0 0 calc(35%);
        }
      }
    }
    .body-text .wrap {
      display: flex;
      padding-bottom: 4rem;
      div {
        @include breakpoint(large) {
          flex: 0 0 66%;
        }
      }
    }
  }
  &.speaking {
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 10%;
      flex-wrap: wrap;
      padding: 1rem 0 4rem;
    }
    li {
      padding-bottom: 1rem;
      flex: 0 0 100%;
      @include breakpoint(medium) {
        flex: 0 0 40%;
      }
      a {
        text-decoration: none;
      }
    }
    time {
      margin: 0;
    }
    h3 {
      margin-top: 0;
    } 
    svg {
      height: .75rem;
      margin-left: .5rem;
    }
    .future {
      // display: none;
      background: $blue;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      margin-left: .5rem;
      color: #fff;
    }
  }
  .client-feedback .button {
    @include breakpoint(medium) {
      padding: .75rem 3rem;
    }   
  }
  .client-block {
    h1 {
      margin-top: 2rem;
      @include breakpoint(medium) {
        margin-top: 4rem;
      }
    }
  }
}