RewriteEngine On

# Remove www from URL — this causes a redirect loop; likely
# to do with Cloudflare. 
# RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Redirect resources from previous directories
RewriteRule ^/?blog/(.\*)$ /insights/$1 [R=301,L]
RewriteRule ^/?writing/(.\*)$ /insights/$1 [R=301,L]
RewriteRule ^/?case-studies/ /insights/ [R=301,L]

ErrorDocument 404 /404/index.html

#------------------------------------------------------------------------
# Single Page Moves
#------------------------------------------------------------------------
Redirect 301 /speaking /talks

#------------------------------------------------------------------------
# Redirect Services Pages
#------------------------------------------------------------------------
Redirect 301 /services/information-architecture /services
Redirect 301 /services/content-strategy /services
Redirect 301 /services/structured-content-design /services
Redirect 301 /services/knowledge-graph-engineering /services

#------------------------------------------------------------------------
# Removed Articles
#------------------------------------------------------------------------
Redirect 301 /writing/architecting-the-connected-world /writing
Redirect 301 /writing/architecture-design-and-the-connected-environment /writing
Redirect 301 /writing/the-lingering-seduction-of-the-page /writing

#------------------------------------------------------------------------
# Removed Pages
#------------------------------------------------------------------------
Redirect 302 /technical-details/ /about
