RewriteEngine On

RewriteRule ^/?blog/(.\*)$ /insights/$1 [R=301,L]
RewriteRule ^/?writing/(.\*)$ /insights/$1 [R=301,L]
RewriteRule ^/?case-studies/ /insights/ [R=301,L]

ErrorDocument 404 /404/index.html

#------------------------------------------------------------------------
# Single Page Moves
#------------------------------------------------------------------------
Redirect 301 /speaking /talks

#------------------------------------------------------------------------
# Removed Articles
#------------------------------------------------------------------------
Redirect 301 /writing/architecting-the-connected-world /writing
Redirect 301 /writing/architecture-design-and-the-connected-environment /writing
Redirect 301 /writing/the-lingering-seduction-of-the-page /writing

#------------------------------------------------------------------------
# Removed Pages
#------------------------------------------------------------------------
Redirect 302 /technical-details/ /about
