---
layout: layouts/article
tags:
  - articles
pagination:
  alias: article
  data: articles
  size: 1
  addAllPagesToCollections: true
permalink: articles/{{ article.slug.current | slug }}/index.html
---