---
layout: layouts/base.njk
tags:
  - nav
navtitle: Home
---

<h1>Here's a home page.</h1>

{# {% set postslist = collections.myPosts %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
